.icon {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.spanIcon {
    height: 50px;
    width: 50px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.icon:hover .spanIcon .iconStyles {
    color: white;
}

.iconStyles {
    font-size: 30px;
    position: relative;
    top: 22%;
}

.htmlBrand {
    color: #e34c26;
}

.cssBrand {
    color: #2965f1;
}

.jsBrand {
    color: #f0db4f;
}

.reactBrand {
    color: #61dbfb;
}
.scssBrand {
    color: #cc6699;
}

.tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
    top: -70px;
    opacity: 1;
}

.icon:hover .spanIcon,
.icon:hover .tooltip {
    color: #efefef;
}

.htmlBrand:hover .spanIcon,
.htmlBrand:hover .tooltip,
.htmlBrand:hover .tooltip::before {
    background: #e34c26;
}

.cssBrand:hover .spanIcon,
.cssBrand:hover .tooltip,
.cssBrand:hover .tooltip::before {
    background: #2965f1;
}

.jsBrand:hover .spanIcon,
.jsBrand:hover .tooltip,
.jsBrand:hover .tooltip::before {
    background: #f0db4f;
    color: #323330;
}

.reactBrand:hover .spanIcon,
.reactBrand:hover .tooltip,
.reactBrand:hover .tooltip::before {
    background: #61dbfb;
    color: #fff;
}

.scssBrand:hover .spanIcon,
.scssBrand:hover .tooltip,
.scssBrand:hover .tooltip::before {
    background: #cc6699;
}
