.box {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}

/* .box::before { */
/* content: "";
    position: absolute;
    inset: -40px 110px;
    background: linear-gradient(
        315deg,
        hsla(256, 96%, 67%, 0.9),
        hsla(354, 98%, 61%, 0.7),
        hsla(100, 90%, 20%, 0.8),
        hsla(354, 50%, 61%, 0.8),
        hsla(256, 96%, 67%, 0.9),
        hsla(200, 25%, 33%, 0.9),
        hsla(354, 50%, 61%, 0.8)
    );
    transition: 0.5s;
    animation: profile 10s linear infinite;
}

.box:hover:before {
    inset: -40px 0px;
}

@keyframes profile {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
} */

/* .box::after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 30px;
    z-index: 1;
} */
.content {
    position: absolute;
    inset: 3px;
    z-index: 3;
    border-radius: 20px;
    overflow: hidden;
}

.content .profileImage {
    z-index: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social {
    width: 30px;
    height: 30px;
    color: #000;
}

.activeSpan:hover {
    color: rgb(3 105 161);
}

.profileImage {
    z-index: 30;
}
