@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-colo-rgb: 3, 105, 161;
    /* --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

#blob {
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, blue, pink, purple, green);
    animation: rotate 20s infinite;
    filter: blur(100px);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.app {
    position: relative;
    z-index: 10;
}

.main {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* padding: 120px 24px 160px 24px; */
    margin: 0 auto;
    pointer-events: none;
}

.main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.main:after {
    content: "";
    background-image: url("/assets/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
}
.mainBody {
    padding: 0 9rem;
    position: relative;
    z-index: 10;
}

.contentWidth {
    /* max-w-[1440px] mx-auto */
    max-width: 1440px;
    margin: 0 auto;
}

.gradient {
    height: 100%;
    z-index: 1;
    width: 100%;
    background-image: radial-gradient(
            at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 0%
        ),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 21%, rgb(201, 187, 110) 0px, transparent 50%),
        radial-gradient(at 52% 99%, rgb(62, 140, 151) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 75% 99%, hsla(600, 98%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 21%, rgb(254, 184, 114) 0px, transparent 50%),
        radial-gradient(at 80% 29%, hsla(20, 96%, 67%, 1) 0px, transparent 0%),
        radial-gradient(at 32% 96%, hsla(0, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(210, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 12% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: fixed;
    content: "";
    width: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}
/* 
.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
} */
.headingClass {
    color: rgb(var(--main-colo-rgb));
    text-transform: uppercase;
}
.logo {
    display: inline-block;
    border: 1px solid transparent;
    padding: 5px 10px;
    position: relative;
    transition: 0.5s;
}

.logo::after {
    color: rgb(3 105 161);
    position: absolute;
    content: "";
    right: 20px;
    bottom: 5px;
    top: 5px;
    transition: 0.5s;
    opacity: 0;
}

.logo::before {
    color: rgb(3 105 161);
    position: absolute;
    content: "";
    left: 20px;
    top: 5px;
    bottom: 5px;
    transition: 0.5s;
    opacity: 0;
}

.logo:hover::before {
    opacity: 1;
}
.logo:hover::after {
    opacity: 1;
}

.logo:hover {
    color: rgb(3 105 161);
    opacity: 1;
}
.navLinks {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.navLinksActive {
    color: rgb(3 105 161);
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.navLinksActive:before {
    color: rgb(3 105 161);
    position: absolute;
    content: "[ ";
    left: 0;
    top: 5px;
    bottom: 5px;
    opacity: 0;
}
.navLinksActive:after {
    color: rgb(3 105 161);
    position: absolute;
    content: "]";
    right: 0px;
    bottom: 5px;
    top: 5px;
    opacity: 1;
}

.navLinks::before {
    color: rgb(3 105 161);
    position: absolute;
    content: "[ ";
    left: 20px;
    top: 5px;
    bottom: 5px;
    transition: 0.5s;
    opacity: 0;
}

.navLinks::after {
    color: rgb(3 105 161);
    position: absolute;
    content: "]";
    right: 20px;
    bottom: 5px;
    top: 5px;
    transition: 0.5s;
    opacity: 0;
}

.navLinks:hover::before {
    left: 0;
    opacity: 1;
}
.navLinks:hover::after {
    right: 0;
    opacity: 1;
}

.navLinks:hover {
    color: rgb(3 105 161);
    /* border-bottom: 2px solid rgb(186 230 253); */
    /* background-color: rgb(186 230 253); */
    opacity: 1;
}

.navLinksActive::before {
    left: 0;
    opacity: 1;
}
.navLinksActive::after {
    right: 0;
    opacity: 1;
}

.navLinksActive {
    color: rgb(3 105 161);
    /* border-bottom: 2px solid rgb(186 230 253); */
    /* background-color: rgb(186 230 253); */
    opacity: 1;
}

.image {
    /* z-index: 20; */
    width: 150px;
    height: 150px;
    background-color: blanchedalmond;
    opacity: 1;
}
